@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400;600&display=swap');

:root{
    --corPrincipal: #F58447;     
    --corSegundaria: #fefefe;                        
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

body{
    background-color: var(--corPrincipal);
}

/* header style */
header{
    height: 90px;
}

.navHeader {
    position: fixed;
    top: 0 ;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90px;
    z-index: 1;
    padding: 20px;
    background: var(--corSegundaria);
    border-bottom: 0.3px solid var(--corPrincipal);
}

.navLinks {
    list-style: none;
    display: flex;
    font-family: 'Asap', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    gap: 1.3rem;
}

.navLinks a{
    color: var(--corPrincipal);
    transition: .3s;
}

.navLinks a:hover{
    color: #71727A;
}

/* end header style */
/* main style */
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 3% 3% 5%;
    background-color: var(--corSegundaria);
    box-sizing: border-box;
}

.logo {
    width: 20%;
    border-radius: 30px;
}

.container-1 > .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-1 > .texto > .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    color: var(--corPrincipal);
}

.container-1 > .texto > .titulo h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.container-1 > .texto > .titulo h3{
    font-weight: 400;
    font-size: 1.5rem;
}

.container-1 > .texto > .paragrafo {
    margin-top: 1.3rem;
    font-size: 1rem;
    color: var(--corPrincipal);
}

.button-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 50px;
    width: 250px;
    border-radius: 35px;
    border-style: none;
    background-color: var(--corPrincipal);
    filter: drop-shadow(5px 5px 5px #222);
}

.foguete {
    width: 11%;
    margin-right: 20px;
}

.texto-button {
    font-style: none;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--corSegundaria);
}

/* container 2 style */
.container-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.mulher{
    width: 25%;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 5px #222);
    padding-bottom: 2%;
}

.container-2 > .bloco {
    width: 24%;
    height: 100px;
    background-color: var(--corSegundaria);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 15px;
}

.container-2 > .bloco > .conteudo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10px;
}

.container-2 > .bloco > .conteudo > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #71727A;
    padding-top: 3%;
}

.container-2 > .bloco > .conteudo > h2{
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--corPrincipal);
}
/* end container 2 style */

/* container 3 style */
.container-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    padding-right: 20px;
    background-color: var(--corSegundaria);
}

.celular {
    width: 40%;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 5px #222);
}

.lista-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 300px;
    padding: 1.5rem 0;
    background-color: var(--corPrincipal);
    border-radius: 15px;
}

.lista {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.container-3 > .lista-categorias h2 {
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--corSegundaria);
    margin-bottom: 20px;
}

.container-3 > .lista-categorias > .lista{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--corSegundaria);
}

.container-3 > .lista-categorias > .lista p{
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}