@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400;600;800&display=swap');:root{
    --corPrincipal: #F58447;     
    --corSegundaria: #efefef;  
    --corCards: #fefefe;        
    --corTextoPreto: #333;    
    --corTextoPreto2: #707070;          
}

main{
    display: flex;
    flex-direction: column;
}

section{
    height: 550px;
    width: 100%;
}

.section-white{
    background: var(--corSegundaria);
}

.apresentacao{
    display: flex;
    align-items: center;
    position: relative; 
    overflow: hidden;
}

.apresentacao .texto{
    width: 70%;
    margin: 0 2em;
    z-index: 2;
    color: var(--corSegundaria);
}

.texto h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .5em;
}
.texto p{
    font-size: 1.2rem;
    text-align: justify;
}

.apresentacao > .image{
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 30%;
}

.apresentacao > .image > .logo{
    width: 450px;
}

/* team section style*/
.team-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-section{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2%;
    width: 100%;
}
.titulo-section h1{
    font-family: 'Asap', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--corPrincipal);
}
.swiper {
    width: 1800px;
    padding: 0 2em;
    margin: 0 2em;
  }
  
.card-container{
    padding-block: 3em;
}

.card-content{
    margin: 0 1.25em;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-article{
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}
 
.card-image{
    position: relative;
    background-color: var(--corPrincipal);
    padding-top: 1.5em;
    margin-bottom: -.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 150px;
    height: 150px;
    margin-bottom: 1.4em ;
    border-radius: 50%;
    border: 4px solid var(--corCards);
    padding: 2px;
    position: relative;
    z-index: 5;
}

.card-data{
    background-color: var(--corCards);
    padding: 1.25em 2em;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card-name{
    color: var(--corTextoPreto);
    margin-bottom: .5em;
    font-size: 1.3rem;
}
.setor{
    color: var(--corTextoPreto2);
    font-size: .8em;
}
.social{
    margin-top: 1.3em;
}
.social i{
    font-size: 2rem;
}
.social a .github{
    color: var(--corTextoPreto);
}
.social a .linkedin{
    color: #0077b5;
}


.swiper-button-prev:after,
.swiper-button-next:after{
    width: initial;
    height: initial;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--corPrincipal);
}

.swiper-pagination-bullet{
    background-color: var(--corTextoPreto2);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--corPrincipal);
}


/*responsividade */

@media(max-width: 1070px){
    .texto h1{
        font-size: 2.5rem;
    }
    .apresentacao > .image > .logo{
        width: 400px;
    }
}

@media(max-width: 828px){
    section{
        height: 80dvh;
    }

    .apresentacao .texto{
        width: 90%;
    }
    .texto h1{
        font-size: 3rem;
    }
    .titulo-section{
        top: 7%;
    }
}

@media(max-width: 470px){
    .apresentacao .texto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto h1{
        font-size: 2rem;
    }

    .texto p{
        font-size: 1rem;
        text-align: center;
    }

    .apresentacao > .image > .logo{
        width: 340px;
    }

    .swiper {
        padding: 0 1em;
        margin: 0 1em;
      }
    .card-container{
        padding-block: 3em;
    }
    
    .card-img{
        width: 120px;
    }
    .card-name{
        font-size: 1rem;
    }

    .swiper-button-prev:after{
        margin-right: 1rem;
    }
    .swiper-button-next:after{
        margin-left: 1rem;
    }
}