@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400;600&display=swap');
:root{
    --corPrincipal: #F58447;     
    --corSegundaria: #efefef;  
    --corCards: #fefefe;        
    --corTextoPreto: #333;    
    --corTextoPreto2: #707070;          
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

section{
    height: 500px;
    width: 100%;
}

.section-white{
    background: var(--corSegundaria);
}

.apresentacao{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.apresentacao > .texto{
    width: 70%;
    margin: 0 2em;
    z-index: 2;
    color: var(--corSegundaria);
}

.image{
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 30%;
}

.image > .logo{
    width: 450px;
}

/* team section style*/

.team-section{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background: #000;
    padding: 2em 0;
}
.slide-content{
    margin: 0 2em;
    padding: 2.5em 1rem;
    overflow: hidden;
}

.card{
    background: var(--corCards);
    border-radius: 25px;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .7em 1em;
}

.image-content{
    position: relative;
    row-gap: .3em;
}
.overlay{
    background: var(--corPrincipal);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    bottom: -40px;
    right: 0;
    height: 40px;
    width: 40px;
    background: var(--corPrincipal);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background: var(--corCards);
}

.card-image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: .15em;
    border: 3px solid white;
}
.card-image .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--corPrincipal);
}

.name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--corTexto);
}

.descricao{
    font-size: 1rem;
    color: var(--corTextoPreto2);
    text-align: center;
}
.social h3,
.social{
    margin: 1em;
}
.social a{
    font-size: 2rem;
    margin: .3em;
}

.social a .github{
    color: var(--corTextoPreto);
}
.social a .linkedin{
    color: #0077b5;
}
.social a .instagram{
    color: #E1306C;
}
