@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;400;600&display=swap');
:root{
    --corPrincipal: #F58447;     
    --corSegundaria: #fefefe;                        
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

section{
    height: 500px;
    width: 100%;
}

.apresentacao{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.apresentacao > .texto{
    width: 70%;
    margin: 0 2em;
    z-index: 2;
    color: var(--corSegundaria);
}

.image{
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 30%;
}

 .image > .logo{
    width: 450px;
 }

.team-section{
    background: var(--corSegundaria);
}